= content_for(:header_right) do
  %section.filter
    = form_tag(translations_url, :method => :get) do
      .input-section
        %label{:for => :locale} Locale
        = select_tag(:locale, options_for_select(Translation.locales, locale))
      .input-section
        %label{:for => :filter_by} Filter by
        = text_field_tag(:filter_by, params[:filter_by])
      .input-section
        = submit_tag 'Filter'

%section.grid-view
  %table.grid
    %tr
      %th.key I18n Key
      %th.value Value
      - for translation in translations
        %tr.row
          %td.key= translation.key
          %td.value
            %span.editable{'data-id' => translation.key, 'data-url' => translation_url('x')}= translation.value