%section.create
  = form_for(@translation, :url => translations_url, :method => :post) do|f|
    %fieldset
      %legend
        = "Create new #{locale} translation key"

      .clearfix
        - unless @translation.errors.empty?
          .alert-message.error
            = @translation.errors.full_messages.join('. ')

      = f.hidden_field :locale

      .clearfix
        = f.label :key
        .input
          = f.text_field :key

      .clearfix
        = f.label :value
        .input
          = f.text_field :value

      .actions
        = f.submit 'Create', :class => "btn primary"
%section
  %table#translations.zebra-striped
    %thead
      %tr
        %th.delete
        %th.key I18n Key
        %th.value Value
    %tbody
      - for translation in translations
        %tr
          %td
            = link_to(image_tag('trash_can1.png'), '#', 'data-key' => translation.key, 'data-url' => translation_url('x'), :class => 'destroy-translation')
          %td.key= translation.key
          %td.value
            %span.editable{'data-key' => translation.key, 'data-url' => translation_url('x')}= translation.value
